/*
	Evan Ellingsberg
  CS 337 Spring 19
  Final project
  This file is the style css code for my final html project. It holds
  font property changes, box model property changes, the use of float and different
  display types, etc.
*/

#top{
  background-image: url("topboarder.jpg");
  background-size: contain;
	box-shadow: 0 5px 20px grey;
	height: 110px;
  margin-bottom: 20px;
	position: relative;
}

#home{
  background-color:  #E59866;
  bottom: 10px;
  border-radius: 50%;
  color:  white;
  height: 60%;
  padding: 5px;
  position: absolute;
  right: 10%;
  width: 10%;
}

#top > div{
  background-color: white;
  border-radius: 30px;
  bottom: 10px;
  color: #E59866;
  font-family: Verdana, Georgia;
  font-size: 36pt;
  left: 5%;
  padding: 10px;
  position: absolute;
}

body{
  background-color: #FEF5E7;
  font-family: "Times New Roman", Helvetica;
}

#fcountry, #fingredient, #fstyle, #help, #fall{
  font-weight: bold;
  font-size: 15pt;
  margin: 2px;
  text-align: center;
}

#help{
  font-size: 10pt;
  margin-bottom: 10px;
}

#homeIntro{
  font-size: 20pt;
  height: 60%;
  text-align: center;
}

#search{
  display: flex;
  justify-content: center;
}

#searchcontain{
  margin: 15px;
}

#searchcontain, #homeIntro, #mid{
  display: block;
}

#mid{
  text-align: center;
}

#midc{
  background-color: #FDEBD0;
  border-radius: 10px;
  display: inline-block;
  padding: 15px;
}

#singlerecipe, #rlist{
  display: none;
}

#recipecontainer{
  margin-left: 25px;
  margin-top: 40px;
  text-align: left;
}

#title{
  font-size: 32pt;
  text-decoration: underline;
}

ul{
  list-style-image: url("bpoint.gif");
}

#rstyle, #recipecontainer{
  float: left;
}

#rstyle{
  width: 250px;
}
